{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Scribble Day</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'scribble/assets/css/main.css' %}" />




		<noscript><link rel="stylesheet" href="{% static 'scribble/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->


		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>Scribble Day</h2>
					</header>
					<p><strong></strong></p>
					<footer>
						<a href=" #one " class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<p>A myriad of emotions is how anyone would describe their college life as. So, to recollect all those special moments during this 4 year-long journey, every college student passes through the tradition of Scribble Day before bidding adieu to yet another phase of their lives. </p>
				</div>
				<a href=" #two " class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<p>We at SAIC hold the privilege of organizing this momentous event where indelible memories are created for those accomplished seniors who have provided the utmost guidance to their juniors and shared some unforgettable moments that they can look back on and always cherish!</p>
				</div>
				<a href=" #work " class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2>GALLERY</h2>
						<p></p>
					</header>

					<!-- Gallery  -->
						<div class="gallery">
							<article class="from-left">
								<a href="{% static 'scribble/images/thumbs/73026722_2840061022671655_2670921538680651776_n.jpg' %}" class="image fit"><img src="{% static 'scribble/images/thumbs/73026722_2840061022671655_2670921538680651776_n.jpg' %}" title="The Anonymous Red" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="{% static 'scribble/images/thumbs/76910261_2840062106004880_7160560950381117440_n.jpg' %}" class="image fit"><img src="{% static 'scribble/images/thumbs/76910261_2840062106004880_7160560950381117440_n.jpg' %}" title="Airchitecture II" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="{% static 'scribble/images/thumbs/77093505_2840053866005704_1004751124374224896_n.jpg' %}" class="image fit"><img src="{% static 'scribble/images/thumbs/77093505_2840053866005704_1004751124374224896_n.jpg' %}" title="Air Lounge" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="{% static 'scribble/images/thumbs/77336810_2840051109339313_6904274745680723968_n.jpg' %}" class="image fit"><img src="{% static 'scribble/images/thumbs/77336810_2840051109339313_6904274745680723968_n.jpg' %}" title="Carry on" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="{% static 'scribble/images/thumbs/77349651_2840058659338558_5992036495307833344_n.jpg' %}" class="image fit"><img src="{% static 'scribble/images/thumbs/77349651_2840058659338558_5992036495307833344_n.jpg' %}" title="The sparkling shell" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="{% static 'scribble/images/thumbs/77375756_2840058066005284_627737499266973696_n.jpg' %}" class="image fit"><img src="{% static 'scribble/images/thumbs/77375756_2840058066005284_627737499266973696_n.jpg' %}" title="Bent IX" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="{% static 'scribble/images/thumbs/78268676_2840053169339107_2550788365653901312_n.jpg' %}" class="image fit"><img src="{% static 'scribble/images/thumbs/78268676_2840053169339107_2550788365653901312_n.jpg' %}" title="The Anonymous Red" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="{% static 'scribble/images/thumbs/78498434_2840060149338409_8367009326727954432_n.jpg' %}" class="image fit"><img src="{% static 'scribble/images/thumbs/78498434_2840060149338409_8367009326727954432_n.jpg' %}" title="Airchitecture II" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="{% static 'scribble/images/thumbs/78542044_2840049806006110_2434728337747214336_n.jpg' %}" class="image fit"><img src="{% static 'scribble/images/thumbs/78542044_2840049806006110_2434728337747214336_n.jpg' %}" title="Air Lounge" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="{% static 'scribble/images/thumbs/78557678_2840061299338294_3354619734510272512_n.jpg' %}" class="image fit"><img src="{% static 'scribble/images/thumbs/78557678_2840061299338294_3354619734510272512_n.jpg' %}" title="Carry on" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="{% static 'scribble/images/thumbs/78732098_2840055189338905_6613275069105831936_n.jpg' %}" class="image fit"><img src="{% static 'scribble/images/thumbs/78732098_2840055189338905_6613275069105831936_n.jpg' %}" title="The sparkling shell" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="{% static 'scribble/images/thumbs/79145861_2840062379338186_5552178389034467328_n.jpg' %}" class="image fit"><img src="{% static 'scribble/images/thumbs/79145861_2840062379338186_5552178389034467328_n.jpg' %}" title="Bent IX" alt="" /></a>
							</article>
							
						</div>

				</div>
			</section>



		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->

				<!-- Menu -->
					<ul class="menu">
						<li>&copy;</li><li>Made with love by <a href="https://www.instagram.com/saic_tiet/">SAIC</a></li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="{% static 'scribble/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'scribble/assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'scribble/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'scribble/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'scribble/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'scribble/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'scribble/assets/js/util.js' %}"></script>
			<script src="{% static 'scribble/assets/js/main.js' %}"></script>

	</body>
</html>
