@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap");
body {
  font-family: "Oswald", sans-serif;
  background-color: #000000;
}
body section {
  width: 90%;
  padding: 5%;
  max-width: 1200px;
  margin: 0 auto;
}
.newh{
  font-size: 14;
}
.parallelogram {
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(-40deg);
  -o-transform: skew(-40deg);
  transform: skew(-40deg);
  position: absolute;
  z-index: -9;
}

#one {
  width: 20px;
  height: 300px;
  animation: moveBar 15s linear infinite;
  -webkit-box-shadow: 100px 509px #612271, 20px 300px #612271, -120px 150px #612271;
  -moz-box-shadow: 100px 509px #612271, 20px 300px #612271, -120px 150px #612271;
  box-shadow: 100px 509px #612271, 20px 300px #612271, -120px 150px #612271;
}

#two {
  width: 10px;
  height: 300px;
  animation: moveBar 30s linear infinite;
  -webkit-box-shadow: 250px 450px #43174F, -50px 200px #43174F;
  -moz-box-shadow: 250px 450px #43174F, -50px 200px #43174F;
  box-shadow: 250px 450px #43174F, -50px 200px #43174F;
}

#three {
  width: 10px;
  height: 500px;
  animation: moveBar 20s linear infinite;
  -webkit-box-shadow: 70px 500px #7B5C83, -100px 200px #7B5C83;
  -moz-box-shadow: 70px 500px #7B5C83, -100px 200px #7B5C83;
  box-shadow: 70px 500px #7B5C83, -100px 200px #7B5C83;
}

@keyframes moveBar {
  100% {
    transform: skew(-40deg) translateY(-1000px);
  }
}

.card {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 10px 0;
  transition: ease all 2.3s;
  perspective: 2000px;
}
.card:hover .cover {
  transform: rotateX(-10deg) rotateY(-180deg);
}
.card:hover .cover:before {
  transform: translateZ(30px);
}
.card:hover .cover:after {
  background-color: black;
}
.card:hover .cover h1 {
  transform: translateZ(100px);
}
.card:hover .cover .price {
  transform: translateZ(60px);
}
.card:hover .cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}
.card .cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
}
.card .cover:before {
  content: "";
  position: absolute;
  border: 5px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all 2.3s;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}
.card .cover:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
}
.card .cover.item-a {
  background: url("../img/cards/troubleshoot.png") center center no-repeat;
  background-size: cover;
}
.card .cover.item-b {
  background: url("../img/cards/farewell.png") center center no-repeat;
  background-size: cover;
}
.card .cover.item-c {
  background: url("../img/cards/convo.png") center center no-repeat;
  background-size: cover;
}
.card .cover.item-d {
  background: url("../img/cards/convo.png") center center no-repeat;
  background-size: cover;
}
.card .cover.item-e {
  background: url("../img/cards/exo.png") center center no-repeat;
  background-size: cover;
}
.card .cover.item-f {
  background: url("../img/cards/scribble.png") center center no-repeat;
  background-size: cover;
}
.card .cover.item-g {
  background: url("../img/cards/gls.png") center center no-repeat;
  background-size: cover;
}
.card .cover h1 {
  font-weight: 600;
  position: absolute;
  bottom: 55px;
  left: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 3;
  font-size: 3em;
  transform: translateZ(0px);
}
.card .cover .price {
  font-weight: 200;
  position: absolute;
  top: 55px;
  right: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 4;
  font-size: 2em;
  transform: translateZ(0px);
}
.card .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0b0f08;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.flip-par{
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  font-weight: 200;
  font-size: 2em;
  color: white;
  position: absolute;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-right: 3rem;
  margin-bottom: 17rem;
  outline: none;
  text-decoration: none;
}
.card .card-back a {
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  border: 1px solid white;
  font-weight: 200;
  font-size: 1.3em;
  color: white;
  position: absolute;
  margin-top: 23rem;
  padding: 14px 32px;
  outline: none;
  text-decoration: none;
}
.card .card-back a:hover {
  background-color: white;
  color: #0b0f08;
}
